@model WebMVC.Models.Brand

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2>Edit Brand</h2>

    @using (Html.BeginForm("Edit", "BrandMVC", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group row">
            @Html.LabelFor(model => model.Brand_Name, htmlAttributes: new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Brand_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Brand_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 offset-md-2">
                <button type="submit" class="btn btn-primary" style = "margin-top:10px">Save</button>
                @Html.ActionLink("Back to List", "Index", new { id = Model.Brand_Id }, new { @class = "btn btn-secondary ml-2", style = "margin-top:10px" })
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
