@model WebMVC.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Required_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Required_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipped_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipped_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Order_id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
